@use "variables" as var;
@use "mixins";

.blog {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: white;

  &__item {
    padding-top: 50px;
    margin: 20px;
    display: flex;
    flex-direction: row;

    @include mixins.respond(medium) {
      flex-direction: column;
    }

    &__text {
      margin-top: 5px;
      padding: 5px;
      margin-left: 10px;
      margin-top: 40px;
      text-align: justify;
    }
  }
}

.btn {
  background-color: transparent;
  width: 200px;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  color: var.$col-blue;
  border: 1px solid var.$col-blue;
}

.image {
  margin-left: 30px;
  width: 300px;
}
