@use "variables" as var;
@use "mixins";

.footer {
  background: var.$bg-darkgray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70px;

  color: white;
  &__logo {
    display: flex;
    padding-left: 10px;
  }
  &__social {
    font-size: 25px;
    padding-right: 10px;
    &__item {
      margin: 7px;
    }
  }
  @include mixins.respond(medium) {
    flex-direction: column;
  }
}
