@use "variables" as var;
@use "mixins";

.App-header {
  background-color: var.$bg-darkgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

/* Logo */

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logo-tag {
  color: var.$col-blue;
  font-weight: 700;
  align-self: center;
}

/* styling the react icon */
.logo-react {
  height: 10vmin;
  pointer-events: none;
  align-self: center;
}

.logo-stop {
  height: 10vmin;
  pointer-events: none;
  align-self: center;
}

@media (prefers-reduced-motion: no-preference) {
  .logo-react {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
}

@media (prefers-reduced-motion: no-preference) {
  .logo-stop {
    animation: logo-spin2 infinite 20s linear;
  }
}

@keyframes logo-spin2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navigations */
nav {
  display: flex;
  margin-right: 10px;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  align-self: center;
  padding: 5px;
}
