@use "variables" as var;
@use "mixins";

.home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  color: white;
  @include mixins.respond(medium) {
    flex-direction: column;
  }
}

#article {
  margin-right: 100px;
  padding: 20px;
}

.home__item2 svg {
  padding-top: 50px;
  margin: 20px;
  @include mixins.respond(medium) {
    height: 400px;
    width: 300px;
  }
  @include mixins.respond(small) {
    height: 300px;
    width: 200px;
  }
}

#cloud {
  animation: cloud 2s infinite linear alternate;
  transform-origin: center;
}

#man {
  animation: moved 5s infinite linear alternate;
  transform-origin: center;
}

#plant {
  animation: greeny 10s infinite linear alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes greeny {
  from {
    transform: scale(0.2, 0.1);
  }
  to {
    transform: scale(1, 1);
  }
}

@keyframes moved {
  from {
    transform: translate();
  }
  to {
    transform: translate(400px, 0px);
  }
}

@keyframes cloud {
  from {
    transform: translate();
  }
  to {
    transform: translate(-20px, 5px);
  }
}

.posts {
  padding: 50px;
  color: white;
}

.some-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
}

.grid-items {
  margin: 50px;
  height: 400px;
  background-color: var.$bg-middle;
  padding: 50px 30px;
  text-align: center;
  color: white;
  margin-top: 50px;
}
.title {
  font-size: large;
}

.dark {
  background-color: transparent;
  width: 100%;
  margin-top: 70px;
  padding: 10px;
  text-align: center;
  border: 1px solid var.$col-blue;
  color: var.$col-blue;
}
